@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

* {
    font-family: "Space Mono", monospace;
}

body:after {
    background-image: url("https://files.facepunch.com/garry/1b1011b1/test.png?1=");
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    opacity: .6;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
button,
strong {
    @apply font-bold;
}

button {
    @apply cursor-pointer;
}

.info-panel li {
    @apply py-2 px-3 odd:bg-white/5 flex justify-between rounded-lg;
}